In [1]:
import glob
import re

INPUT_FOLDER = '../../../travelogues-corpus/16th_century/books'

def read_file(f):
  with open(f, 'r') as file:
    return file.read()

filenames = [f for f in glob.glob(INPUT_FOLDER + '**/*.txt')]
texts = [ read_file(f) for f in filenames ]

f'Loaded {len(texts)} documents'

'Loaded 66 documents'

In [2]:
import re

blank_line_regex = r"(?:\r?\n){2,}"
pages_per_text = list(map(lambda l: re.split(blank_line_regex, l.strip()), texts))

cleaned_pages_per_text = []
for pages in pages_per_text:
  # ASCII characters only
  cleaned = [ re.sub('[^A-Za-z0-9 ]+', '', page) for page in pages ]

  # Replace multiple spaces by one
  cleand = [ re.sub('\\s+', ' ', page) for page in cleaned ]

  # Remove empty pages
  cleaned = [ p.strip() for p in cleaned if len(p.strip()) > 0 ]

  cleaned_pages_per_text.append(cleaned)

In [3]:
from datasketch import MinHashLSH
from util.text import Text
import pickle

# 'Text' minhash helper objects
texts = []

for text_idx, text in enumerate(cleaned_pages_per_text):
  for page_idx, page in enumerate(text):
    texts.append(Text(text_idx, page_idx, page))

lsh = MinHashLSH(threshold=0.8, num_perm=128)

for t in texts:
  lsh.insert(t.id(), t.minhash())

# Save for later (computation takes a lot of time...)
pickle.dump(lsh, open('./lsh.bin', 'wb'))

f'Built LSH index for {len(texts)} pages'

'Built LSH index for 15906 pages'

In [4]:
import pandas as pd 

neighbour_pairs = []

for t in texts:
  result = lsh.query(t.minhash())

  # Result will always contain the message itself - remove
  result = [r for r in result if r != t.id()]

  for neighbour in result:
    neighbour_pairs.append([ t.id(), neighbour ])

df = pd.DataFrame(neighbour_pairs, columns=['a', 'b'])
df

             a        b
0          0,7     7,36
1          0,7    53,23
2          0,7   53,631
3          0,7    52,74
4          0,7   53,194
5          0,7     7,68
6          0,7   10,291
7          0,7    0,381
8          0,7    6,261
9          0,7   20,628
10         0,7   53,392
11         0,7    48,35
12         0,7     43,0
13         0,7  53,1119
14         0,7   53,675
15         0,7     42,1
16         0,7    6,445
17         0,7   48,202
18         0,7   53,841
19         0,7    14,83
20         0,7   48,131
21         0,7   22,168
22         0,7   40,159
23         0,7    48,26
24         0,7  53,1028
25         0,7   53,242
26         0,7   65,153
27         0,7   48,197
28         0,7   53,120
29         0,7    6,265
...        ...      ...
203962  65,206   50,347
203963  65,206    7,150
203964  65,206   35,176
203965  65,206   42,237
203966  65,206     9,95
203967  65,206   13,174
203968  65,206   53,239
203969  65,206     28,0
203970  65,206   53,599
203971  65,206   18,175
203972  65,206   18,256
203973  65,206    11,32
203974  65,206     9,90
203975  65,206   53,243
203976  65,206   48,195
203977  65,206   53,688
203978  65,206   65,201
203979  65,206   50,261
203980  65,206     40,1
203981  65,206   13,163
203982  65,206   53,874
203983  65,206   20,345
203984  65,206  53,1029
203985  65,206    48,44
203986  65,211     3,15
203987  65,211   22,226
203988  65,211   60,181
203989  65,211    17,47
203990  65,211    57,16
203991  65,211   12,337

[203992 rows x 2 columns]

In [5]:
df.to_csv('results_pagewise.csv', index=False)